ProtocolEditor/MIACA.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Alexander Mehrle (DKFZ) -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
           xmlns="http://miaca.sf.net" xmlns:fuge="fuge.sf.net" 
           targetNamespace="http://miaca.sf.net" 
           
           elementFormDefault="qualified">
  
  <xs:import namespace="fuge.sf.net" schemaLocation="http://fuge.sourceforge.net/Version1Candidate/FuGE-version1-Sept-candidate.xsd" />
  <!-- Cell-based assay object model -->
  
  <!-- Protocols -->
  <!-- The actual actions in the cell-culture, treatment- and data-acquisition protocols have yet to be modeled-->
  <xs:complexType name="CellCultureStepProtocolType" abstract="false">
    <xs:annotation>
      <xs:documentation> Protocol describing a part of a cell culture like e.g.'wash cells with buffer xx', 'change medium and incubate', etc. The actual actions have yet to be modeled.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fuge:FuGE.Common.Protocol.ProtocolType">
        <xs:sequence>
          <xs:element name="cultureParameters" type="cultureParametersType">
            <xs:annotation>
              <xs:documentation>Set of parameters used.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <!-- 
          Duration - element ?? -> specifies the expected duration of this protocol(-step)
          -->
        </xs:sequence>
        <xs:attribute name="protocolText" type="xsd:string">
          <xs:annotation>
            <xs:documentation>The text that applies to this step </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InitialCellCultureProtocolType" abstract="false">
    <xs:annotation>
      <xs:documentation>Protocol describing the initial cell-culture which is used at the beginning of a cell-based assay. The actual actions have yet to be modeled.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CellCultureStepProtocolType" />
    </xs:complexContent>
  </xs:complexType>
  
  <xs:complexType name="TreatmentProtocolType" abstract="false">
    <xs:annotation>
      <xs:documentation>Protocol describing a treatment (something which is done to cells in culture). The actual actions have yet to be modeled.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fuge:FuGE.Common.Protocol.ProtocolType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PerturbationProtocolType" abstract="false">
    <xs:annotation>
      <xs:documentation>Protocol describing a perturbation, a special type of a treatment, where cells are perturbed with e.g a transfection of nucleic acids, the application of a small compund, etc. The actual actions have yet to be modeled.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TreatmentProtocolType">
        <xs:sequence>
          <xs:element name="PerturbationType" type="openCvType">
            <xs:annotation>
              <xs:documentation>The type of the perturbation, e.g. 'transfection'.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PerturbatorType" type="openCvType">
            <xs:annotation>
              <xs:documentation>The type of the perturbator, e.g. siRNA, cDNA, drug.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PostTreatmentProtocolType" abstract="false">
    <xs:annotation>
      <xs:documentation>Protocol describing the steps done prior to data analysis like staining, etc. A Post-treatment is apllied after the last cell-culture step. The actual actions have yet to be modeled.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fuge:FuGE.Common.Protocol.ProtocolType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DataAcquisitionProtocolType" abstract="false">
    <xs:annotation>
      <xs:documentation>Protocol describing the steps done during data analysis. The actual actions have yet to be modeled</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fuge:FuGE.Common.Protocol.ProtocolType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CellAssayProtocolType" abstract="false">
    <xs:annotation>
      <xs:documentation>Protocol describing a complete cell-based assay experiment.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fuge:FuGE.Common.Protocol.ProtocolType">
        <xs:sequence>
          <xs:element name="InitialCellCultureAction" type="InitialCellCultureActionType" minOccurs="1" maxOccurs="unbounded" />
          <xs:element name="TreatmentAction" type="TreatmentActionType" minOccurs="1" maxOccurs="unbounded" />
          <xs:element name="PerturbationAction" type="PerturbationActionType" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="PostTreatmentAction" type="PostTreatmentActionType" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="DataAcquisitionAction" type="DataAcquisitionActionType" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- Action types -->
   <xs:complexType name="InitialCellCultureActionType" abstract="false">
    <xs:annotation>
      <xs:documentation>The first 'action' in a cell-based assay; the first cell-culture, which is the entry-point of the assay.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fuge:FuGE.Common.Protocol.ActionType">
        <xs:attribute name="Protocol_ref" type="xsd:string">
          <xs:annotation>
            <xs:documentation>Reference to the protocol of this particular action.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TreatmentActionType" abstract="false">
    <xs:annotation>
      <xs:documentation>A treatment-step in the cell-assay protocol.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fuge:FuGE.Common.Protocol.ActionType">
        <xs:sequence>
          <xs:element name="precedingAction" type="refType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>This is a link to one or more preceding actions (e.g. treatments)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PerturbationActionType" abstract="false">
    <xs:annotation>
      <xs:documentation>A perturbation-step in the cell-assay protocol.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TreatmentActionType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PostTreatmentActionType" abstract="false">
    <xs:annotation>
      <xs:documentation>A post-treatment-step in the cell-assay protocol.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fuge:FuGE.Common.Protocol.ActionType">
        <xs:sequence>
          <xs:element name="precedingAction" type="refType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>This is a link to one or more preceding actions (e.g. treatments).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DataAcquisitionActionType" abstract="false">
    <xs:annotation>
      <xs:documentation>A data-acquisition-step in the cell-assay protocol.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fuge:FuGE.Common.Protocol.ActionType">
        <xs:sequence>
          <xs:element name="precedingAction" type="refType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>This is a link to one or more preceding post-treatment actions.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- Application Types -->
  <xs:complexType name="CellCultureStepApplicationType" abstract="false">
    <xs:annotation>
      <xs:documentation>Application of a cell culture-step using a protocol and specific values for its parameters and materials.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fuge:FuGE.Common.Protocol.ProtocolApplicationType">
        <xs:sequence>
          <!--
          
          excact input and output-materials (and their amounts via a measurement) have yet to be defined and modeled 
          this will usually be:
          - cells and / or
          - culture media and / or
          - arrays (reaction vessels)
          -->
          <xs:element name="ParameterValue" type="fuge:FuGE.Common.Protocol.ParameterValueType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>A value to one of the parameters of the used protocol, e.g. temperature </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CultureMedium_ref" type="xsd:string" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation> A reference to the cell culture medium that has been used. </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Array_ref" type="xsd:string" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>A reference to the culture vessel (plate, flask, etc.) that has been used. </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="Cells_ref" type="xsd:string" use="required">
          <xs:annotation>
            <xs:documentation>A reference to the cells used in this cell-culture. </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Protocol_ref" type="xsd:string" use="required">
          <xs:annotation>
            <xs:documentation>A reference to the protocol that has been used, an instance of CellCultureStepProtocolType. </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InitialCellCultureApplicationType" abstract="false">
    <xs:annotation>
      <xs:documentation>Application of the initial cell culture using the respective protocol and specific values for cells amd cell-culture parameters.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CellCultureStepApplicationType">
        <xs:attribute name="PassageNumber" type="xs:nonNegativeInteger">
          <xs:annotation>
            <xs:documentation>The actual passage-number of the cells in this culture.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CellAssayApplicationType" abstract="false">
    <xs:annotation>
      <xs:documentation>This represents one application of a specific cell-assay protocol and is a container  for several ActionApplication-elements. These link the steps done in an assay like treatments, post-treatments and data-acquisitions by referencing the protocols and their application.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fuge:FuGE.Common.Protocol.ProtocolApplicationType">
        <xs:sequence>
          <xs:element name="CellAssayActionApplication" type="fuge:FuGE.Common.Protocol.ActionApplicationType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>These elements link the protocol applications (like e.g. applications of treatments) with the respective actions of the cell assay experiment. The order and the mutual connections of these actionsare thus connected with thier applications.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="Protocol_ref" type="xsd:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TreatmentApplicationType" abstract="false">
    <xs:annotation>
      <xs:documentation>Application of a specific treatment (cell-culture, wash, etc.) using the respective protocol.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fuge:FuGE.Common.Protocol.ProtocolApplicationType">
        <xs:attribute name="Protocol_ref" type="xsd:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PostTreatmentApplicationType" abstract="false">
    <xs:annotation>
      <xs:documentation>Application of a specific post-treatment (staining, antibody-incubation, etc.) using the respective protocol.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fuge:FuGE.Common.Protocol.ProtocolApplicationType">
        <xs:attribute name="Protocol_ref" type="xsd:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PerturbationApplicationType" abstract="false">
    <xs:annotation>
      <xs:documentation>Application of a specific perturbation using the respective protocol and a specific value for the perturbator.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TreatmentApplicationType">
        <xs:sequence>
          <xs:element name="Perturbator" type="refType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>This is a link to the perturbator used.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DataAcquisitionApplicationType" abstract="false">
    <xs:annotation>
      <xs:documentation>Application of a specific data-acquisition using the respective protocol.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fuge:FuGE.Common.Protocol.ProtocolApplicationType">
        <xs:attribute name="Protocol_ref" type="xsd:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="arrayType">
    <xs:annotation>
      <xs:documentation>Description of arrays types (reaction vessels) that are used during the project: i.e. single eppendorf tube, 96-well plazes, or [glass] arrays, with details such as manufacturer, order number; size.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="arrayType" type="openCvType">
        <xs:annotation>
          <xs:documentation>Type of vessel used,: i.e. single eppendorf tube, 96-well plate, etc.  </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source" type="sourceType">
        <xs:annotation>
          <xs:documentation>Contact details of the source of the reaction vessels, e. g. company</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="orderNr" type="xs:string" minOccurs="0" />
      <!-- 
      <xs:element name="parameter" type="fuge:FuGE.Common.Protocol.GenericParameterType">
        <xs:annotation>
          <xs:documentation>Reaction-vessel parameter, like e.g. size (volume or surface area).</xs:documentation>
        </xs:annotation>
      </xs:element>
      -->
      <xs:element name="size" type="paramType">
        <xs:annotation>
          <xs:documentation>Size of reaction vessel, e. g. volume or surface area.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="reagentType">
    <xs:annotation>
      <xs:documentation>Description of reagents (media, supplements, transfection reagents) used during the assay with: Name, manufacturer, order number, type (e. g. 'medium', 'antibiotic', etc.)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="names" type="namesType">
        <xs:annotation>
          <xs:documentation>Name of cell-culture medium</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source" type="sourceType">
        <xs:annotation>
          <xs:documentation>Contact details of medium manufacturer</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="reagentType" type="openCvType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Type of reagent, e. g. medium, antibiotic, etc. . Reference to a controlled vocabulary, if possible.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="orderNr" type="xs:string" />
      <xs:element name="lotNr" type="xs:string" minOccurs="0" />
      <xs:element name="components" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Describes all components within a reagent, eg. supplements to a cell-culture medium, etc.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="component" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="reagentRef" />
                  <xs:element name="concentration" type="paramType">
                    <xs:annotation>
                      <xs:documentation>Final concentration of this component in the reagent.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="cultureParametersType">
    <xs:annotation>
      <xs:documentation>Set of paramters important for the culturing of the cells, like temperatur, humidity, etc.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="parameter" type="fuge:FuGE.Common.Protocol.GenericParameterType" maxOccurs="unbounded" />
      <!-- 
      <xs:element name="temperature" type="fuge:FuGE.Common.Protocol.GenericParameterType" />
      <xs:element name="co2Content" type="fuge:FuGE.Common.Protocol.GenericParameterType" />
      <xs:element name="humidity" type="fuge:FuGE.Common.Protocol.GenericParameterType" />
      <xs:element name="density" type="fuge:FuGE.Common.Protocol.GenericParameterType" />
      -->
      <xs:element name="arrayType" type="openCvType">
        <xs:annotation>
          <xs:documentation>Type of the vessel used during cell culture.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mediumType" type="openCvType">
        <xs:annotation>
          <xs:documentation>Type of the medium used during cell culture.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cellsType">
    <xs:annotation>
      <xs:documentation>Cells used during the project.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cellLine">
        <xs:annotation>
          <xs:documentation>Description of the cell line used.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="names" type="namesType">
              <xs:annotation>
                <xs:documentation>Name of cell line.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="source" type="sourceType">
              <xs:annotation>
                <xs:documentation>Contact details of the organisation the cells originated.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="xref" type="xrefType" />
            <xs:element name="hostOrganism">
              <xs:annotation>
                <xs:documentation>Description of the biological source of the cell line.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="names" type="namesType" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>Organism name, e. g. Homo sapiens.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="organ" type="openCvType" />
                  <xs:element name="tissue" type="openCvType" />
                </xs:sequence>
                <xs:attribute name="ncbiTaxId" type="xs:integer" use="required" />
              </xs:complexType>
            </xs:element>
            <xs:element name="attributeList" type="attributeListType" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Additional seme-structured description of the cell line.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="attributeList" type="attributeListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Additional description of the cells.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" />
  </xs:complexType>
  <xs:complexType name="perturbatorType">
    <xs:annotation>
      <xs:documentation>Description of the type of perturbator, e. g. cDNA, siRNA with reference to a controlled vocabulary</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="names" type="namesType">
        <xs:annotation>
          <xs:documentation>Perturbator name, e. g. name of a gene / cDNA</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xref" type="xrefType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Reference to a database entry for this pertubator, e. g. Gene/ Protein ID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="perturbatorType" type="openCvType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Perturbator type, e. g. cDNA, small molecule, siRNA. If possible, reference to a controlled vocabulary.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
  </xs:complexType>
  <!--Root element-->
  <xs:element name="project">
    <xs:annotation>
      <xs:documentation>Conditions that have been established to measure effects which are induced in cells in response to a perturbation, together with data that have been acquired in these measurements in order to address the biological question this project was designed for.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="source" type="sourceType">
          <xs:annotation>
            <xs:documentation>Contact details of researcher/person/laboratory/institution in charge of the project</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="projectDescription" type="openCvType">
          <xs:annotation>
            <xs:documentation>Short description of biological process that is addressed and description of measured effect.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="application">
          <xs:annotation>
            <xs:documentation>Description of the specific application of this project within a larger context.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="title" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Application title, e. g. as taken from a publication</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="abstract" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Application abstract, e. g. as taken from a publication</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="bibref">
                <xs:annotation>
                  <xs:documentation>Bibliographic reference for the data generated during the project.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="xref" type="xrefType">
                      <xs:annotation>
                        <xs:documentation>Cross reference for the data source. Example: Entry in a database of databases. </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="attributeList" type="attributeListType">
                      <xs:annotation>
                        <xs:documentation>Further description of the source.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="materialList">
          <xs:annotation>
            <xs:documentation>Description of the materials that are utilized in the project.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="array" type="arrayType" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>arrays (reaction vessels) that are used during the project</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="cellCultureMedium" type="reagentType" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Media used for the cell-culture(s) during the project.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="supplement" type="reagentType" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>supplements used within the cell culture media.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="cells" type="cellsType" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Cells used during the assay. Usually coming from a continuous cell-culture.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="perturbatorList">
          <xs:annotation>
            <xs:documentation>Description of material/condition(s) that is used in the project to perturb the cells </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="perturbator" type="perturbatorType" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Description of one perturbator, e. g. a cDNA, a temperature shift, etc.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="instrument">
          <xs:annotation>
            <xs:documentation>Description of the data acquisition station. Detailed descriptions of such instruments and their settings could be part of spezialized documents.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="names" type="namesType">
                <xs:annotation>
                  <xs:documentation>Instrument name</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="instrumentType" type="openCvType">
                <xs:annotation>
                  <xs:documentation>Instrument type, e. g. FACS, Plate Reader, etc. </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="source" type="sourceType">
                <xs:annotation>
                  <xs:documentation>Contact details of the instrument manufacturer.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="settings">
                <xs:annotation>
                  <xs:documentation>Reference to the instrument-sttings</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="protocolRef" type="fuge:FuGE.Common.Description.URIType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="protocolList">
          <xs:annotation>
            <xs:documentation>List with all protocols used in the project, e.g. for cell-culture, treatments, perturbations, the actual experiment, etc.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="protocol" type="fuge:FuGE.Common.Protocol.ProtocolType" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Description of one protocol.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CellAssayExperiment">
          <xs:annotation>
            <xs:documentation>The actual experiment part decribing all performed steps like  treatments, perturbation(s) and data acquisition.
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CellAssayApplication" type="CellAssayApplicationType" />
              <xs:element name="InitialCellCultureApplication" type="InitialCellCultureApplicationType" minOccurs="1" maxOccurs="unbounded" />
              <xs:element name="TreatmentApplication" type="TreatmentApplicationType" minOccurs="1" maxOccurs="unbounded" />
              <xs:element name="PerturbationApplication" type="PerturbationApplicationType" minOccurs="0" maxOccurs="unbounded" />
              <xs:element name="PostTreatmentApplication" type="PostTreatmentApplicationType" minOccurs="0" maxOccurs="unbounded" />
              <xs:element name="DataAcquisitionApplication" type="DataAcquisitionApplicationType" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>

  </xs:element>

  <!-- PSI Stuff-->
  <xs:complexType name="attributeListType">
    <xs:annotation>
      <xs:documentation>A list of additional attributes. Open tag-value list to allow the inclusion of additional data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attribute" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="name" use="required">
                <xs:annotation>
                  <xs:documentation>The name of the attribute.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
              <xs:attribute name="nameAc" use="optional">
                <xs:annotation>
                  <xs:documentation>Enables control of the attribute type through reference to an external controlled vocabulary.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sourceType">
    <xs:annotation>
      <xs:documentation>Used to descibe the contact details of the source of: biomaterials, instruments, data, etc.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="names" type="namesType">
        <xs:annotation>
          <xs:documentation>Names (s) of the institution</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeList" type="attributeListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Additional information describing the contact details, e. g. address, email.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dbReferenceType">
    <xs:annotation>
      <xs:documentation>Refers to a unique object in an external database.</xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0">
      <xs:element name="attributeList" type="attributeListType" />
    </xs:sequence>
    <xs:attribute name="db" use="required">
      <xs:annotation>
        <xs:documentation>Name of the external database. Taken from the controlled vocabulary of databases.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="dbAc" use="optional">
      <xs:annotation>
        <xs:documentation>Accession number of the database in the database CV. This element is controlled by the PSI-MI controlled vocabulary "database citation", root term id MI:0444.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="id" use="required">
      <xs:annotation>
        <xs:documentation>Primary identifier of the object in the external database, e.g. UniProt accession number.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="secondary" use="optional">
      <xs:annotation>
        <xs:documentation>Secondary identifier of the object in the external database, e.g. UniProt ID.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="version" use="optional">
      <xs:annotation>
        <xs:documentation>The version number of the object in the external database.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="refType" use="optional">
      <xs:annotation>
        <xs:documentation>Reference type, e.g. "identity" if this reference referes to an identical object in the external database, or "see-also" for additional information. Controlled by CV.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="refTypeAc" use="optional">
      <xs:annotation>
        <xs:documentation>Reference type accession number from the CV of reference types. This element is controlled by the PSI-MI controlled vocabulary "xref type", root term id MI:0353. </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="xrefType">
    <xs:annotation>
      <xs:documentation>Crossreference to an external database. Crossreferences to literature databases, e.g. PubMed, should not be put into this structure, but into the bibRef element where possible.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="primaryRef" type="dbReferenceType">
        <xs:annotation>
          <xs:documentation>Primary reference to an external database.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="secondaryRef" type="dbReferenceType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Further external objects describing the object.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="openCvType">
    <xs:annotation>
      <xs:documentation>Allows to reference an external controlled vocabulary, or to directly include a value if no suitable external definition is available.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="names" type="namesType">
        <xs:annotation>
          <xs:documentation>This contains the controlled vocabulary terms, as a short and optionally as a long form.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="xref" type="xrefType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Refers to the term of the controlled vocabulary in an external database.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeList" type="attributeListType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>If no suitable external controlled vocabulary is available, this attributeList can be used to describe the term. </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="namesType">
    <xs:annotation>
      <xs:documentation>Names for an object.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="shortLabel" minOccurs="0">
        <xs:annotation>
          <xs:documentation>A short string, suitable to remember the object. Can be e.g. a gene name, the first author of a paper, etc.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="fullName" minOccurs="0">
        <xs:annotation>
          <xs:documentation>A full, detailed name or description of the object. Can be e.g. the full title of a publication, or the scientific name of a species.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="alias" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="typeAc" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
              <xs:attribute name="type" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="refType">
    <xs:annotation>
      <xs:documentation>Refers to an object within the same entry by its id.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="paramType">
    <xs:annotation>
      <xs:documentation>Structure allowing the use of controlled or uncontrolled vocabulary</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="cvParam" type="cvParamType">
        <xs:annotation>
          <xs:documentation>This element holds additional data or annotation. Only controlled values are allowed here.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="userParam" type="userParamType">
        <xs:annotation>
          <xs:documentation>This element holds additional data or annotation. Uncontrolled, or user controlled values are allowed here.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="cvParamType">
    <xs:annotation>
      <xs:documentation>Parameters from a controlled vocbulary.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="cvLabel" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>The short tag for the resource as defined in cvLookupType.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="accession" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>The accession number of the referred-to term in the named resource.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>The actual name for the parameter, from the referred-to controlled vocabulary.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>The value for the parameter; may be absent if not appropriate, or a numeric or symbolic value, or may itself be CV (legal values for a parameter should be enumerated and defined in the ontology).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="userParamType">
    <xs:annotation>
      <xs:documentation>Uncontrolled user parameters (vocabulary).</xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>The actual name for the parameter.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>The value for the parameter, where appropriate.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>