components/specification/InProgress/OMERO.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<?xml-stylesheet href="http://cvs.openmicroscopy.org.uk/snapshots/omero/editor/omeXsd/display.xsl" type="text/xsl"?>
<!--
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    #
    # Copyright (C) 2003-2012 Open Microscopy Environment
    #       Massachusetts Institute of Technology,
    #       National Institutes of Health,
    #       University of Dundee,
    #       University of Wisconsin at Madison
    #
    # This work is licensed under the
    #       Creative Commons Attribution 3.0 Unported License.
    # To view a copy of this license, visit
    #       http://creativecommons.org/licenses/by/3.0/
    # or send a letter to
    #       Creative Commons, 444 Castro Street, Suite 900,
    #       Mountain View, California, 94041, USA.
    # For attribution instructions, visit
    #       http://www.openmicroscopy.org/info/attribution
    #~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
<!--
	#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	# Written by:  Andrew J Patterson 
	#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->
<xsd:schema xmlns = "http://www.openmicroscopy.org/Schemas/OMERO/2012-06"
	targetNamespace = "http://www.openmicroscopy.org/Schemas/OMERO/2012-06"
	xmlns:OME = "http://www.openmicroscopy.org/Schemas/OME/2012-06"
	xmlns:SA = "http://www.openmicroscopy.org/Schemas/SA/2012-06"
	xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	version = "1"
	elementFormDefault = "qualified">
	<!-- Using the svn location for import
	<xsd:import namespace="http://www.openmicroscopy.org/Schemas/OME/2012-06" schemaLocation="http://git.openmicroscopy.org/src/develop/components/specification/InProgress/ome.xsd"/>
	<xsd:import namespace="http://www.openmicroscopy.org/Schemas/SA/2012-06" schemaLocation="http://git.openmicroscopy.org/src/develop/components/specification/InProgress/SA.xsd"/>

	Using the local directory location for import -->
	<xsd:import namespace="http://www.openmicroscopy.org/Schemas/OME/2012-06" schemaLocation="ome.xsd"/>
	<xsd:import namespace="http://www.openmicroscopy.org/Schemas/SA/2012-06" schemaLocation="SA.xsd"/>
	<!-- -->

	<xsd:element name="ProfileSet"> <!-- top level definition -->
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ImageProfile" minOccurs="0" maxOccurs="2">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
							<xsd:element name="Description" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>
										A description for the image profile.
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<!-- InstrumentRef is used instead of a reference to Microscope as 
								there is no ID in Microscope. There is a 1 to 1 mapping as each
								Instrument can contain only 1 Microscope.
							-->
							<xsd:element ref="OME:InstrumentRef" minOccurs="0" maxOccurs="1"/>
							<xsd:element ref="OME:ObjectiveSettings" minOccurs="0" maxOccurs="1"/>
						</xsd:sequence>
						<xsd:attribute name="origin" use="optional" type="ProfileSource"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ChannelProfile" minOccurs="0" maxOccurs="2">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
							<xsd:element name="Description" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>
										A description for the channel profile.
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:whiteSpace value="preserve"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element ref="OME:LightSourceSettings" minOccurs="0" maxOccurs="1"/>
							<xsd:element ref="OME:DetectorSettings" minOccurs="0" maxOccurs="1"/>
							<xsd:element ref="OME:FilterSetRef" minOccurs="0" maxOccurs="1"/>
						</xsd:sequence>
						<xsd:attribute name="Origin" use="optional" type="ProfileSource">
							<xsd:annotation>
								<xsd:documentation>
									The case of this attribute has been fixed, it was "origin".
								</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:simpleType name="ProfileSource"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:documentation>
				Where the profile data came from.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="User"/>
			<xsd:enumeration value="File"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name = "OriginalFile"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:appinfo><xsdfu><plural>OriginalFiles</plural></xsdfu></xsd:appinfo>
			<xsd:documentation>Describes a original file.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="path" use="required"  type="xsd:string"/>
			<xsd:attribute name="size" use="required"  type="OME:NonNegativeLong"/>
			<xsd:attribute name="atime" use="optional"  type="xsd:dateTime"/>
			<xsd:attribute name="mtime" use="optional"  type="xsd:dateTime"/>
			<xsd:attribute name="ctime" use="optional"  type="xsd:dateTime"/>
			<xsd:attribute name="sha1" use="required"  type="xsd:string"/>
			<xsd:attribute name="mimetype" use="optional"  type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name = "Session"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:appinfo><xsdfu><plural>Sessions</plural></xsdfu></xsd:appinfo>
			<xsd:documentation>Describes a session.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Node" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="SA:AnnotationRef" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:appinfo><xsdfu><manytomany/></xsdfu></xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="Uuid" use="required" type="xsd:string"/>
			<xsd:attribute name="DefaultEventType" use="required" type="EventType"/>
			<xsd:attribute name="UserAgent" use="optional" type="xsd:string"/>
			<xsd:attribute name="TimeToIdle" use="required" type="OME:NonNegativeLong"/>
			<xsd:attribute name="TimeToLive" use="required" type="OME:NonNegativeLong"/>
			<xsd:attribute name="Started" use="required" type="xsd:dateTime"/>
			<xsd:attribute name="Closed" use="optional" type="xsd:dateTime"/>
			<xsd:attribute name="Message" use="optional" type="xsd:string"/>
			<xsd:attribute name="Owner" use="required" type="OME:ExperimentID"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name = "Node"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:appinfo><xsdfu><plural>Nodes</plural></xsdfu></xsd:appinfo>
			<xsd:documentation>Describes a node.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Uuid" use="required" type="xsd:string"/> <!--  Add UNIQUE constraint -->
			<xsd:attribute name="Conn" use="required" type="xsd:string"/>
			<xsd:attribute name="Up" use="required" type="xsd:dateTime"/>
			<xsd:attribute name="Down" use="optional" type="xsd:dateTime"/>
			<xsd:attribute name="Scale" use="optional" type="xsd:long"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name = "Event"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:appinfo><xsdfu><plural>Events</plural></xsdfu></xsd:appinfo>
			<xsd:documentation>Describes an Event.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="ID" use="required" type="EventID"/>
			<xsd:attribute name="EntityId" use="required" type="OME:NonNegativeLong"/>
			<xsd:attribute name="Status" use="optional" type="xsd:string"/>
			<xsd:attribute name="Time" use="required" type="xsd:dateTime"/>
			<xsd:attribute name="Type" use="required" type="EventType"/>
			<xsd:attribute name="SessionRef" use="required" type="SessionID"/>
			<xsd:attribute name="Experimenter" use="required" type="OME:ExperimentID"/>
			<xsd:attribute name="ExperimenterGroup" use="required" type="OME:ExperimenterGroupID"/>
			<xsd:attribute name="ContainingEvent" use="optional" type="EventID"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name = "EventLog"> <!-- top level definition -->
		<xsd:annotation>
			<xsd:appinfo><xsdfu><plural>EventLogs</plural></xsdfu></xsd:appinfo>
			<xsd:documentation>Describes an EventLog.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Event" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="EntityId" use="required" type="OME:NonNegativeLong"/>
			<xsd:attribute name="EntityType" use="required" type="xsd:string"/>
			<xsd:attribute name="Action" use="required" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:simpleType name="EventType">
		<xsd:annotation>
			<xsd:documentation>
				Types of events in the event log
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value = "Import"/>
			<xsd:enumeration value = "Internal"/>
			<xsd:enumeration value = "Shoola"/>
			<xsd:enumeration value = "User"/>
			<xsd:enumeration value = "Task"/>
			<xsd:enumeration value = "Test"/>
			<xsd:enumeration value = "Processing"/>
			<xsd:enumeration value = "FullText"/>
			<xsd:enumeration value = "Sessions"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="EventID">
		<xsd:restriction base="OME:LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Event:\S+)|(Event:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="SessionID">
		<xsd:restriction base="OME:LSID">
			<xsd:pattern value="(urn:lsid:([\w\-\.]+\.[\w\-\.]+)+:Session:\S+)|(Session:\S+)"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Possible additions -->
	<!-- These currently need added to the mapping file

<type id="ome.model.stats.StatsInfo">

<type id="ome.model.internal.Link"/>

<type id="ome.model.display.Thumbnail">
<type id="ome.model.display.RenderingDef">
<type id="ome.model.display.QuantumDef">
<type id="ome.model.display.ChannelBinding">
<type id="ome.model.display.ReverseIntensityContext" superclass="ome.model.display.CodomainMapContext">
<type id="ome.model.display.PlaneSlicingContext" superclass="ome.model.display.CodomainMapContext">
<type id="ome.model.display.ContrastStretchingContext" superclass="ome.model.display.CodomainMapContext">

<type id="ome.model.jobs.Job" abstract="true">
<type id="ome.model.jobs.ImportJob" superclass="ome.model.jobs.Job">
<type id="ome.model.jobs.ScriptJob" superclass="ome.model.jobs.Job">
<type id="ome.model.jobs.ParseJob" superclass="ome.model.jobs.Job">

<type id="ome.model.meta.ExternalInfo" immutable="true">
<type id="ome.model.meta.DBPatch" immutable="true" global="true">
<type id="ome.model.meta.Share" global="true" superclass="ome.model.meta.Session">
<type id="ome.model.meta.Namespace" annotated="true" named="true" described="true">

	-->
</xsd:schema>
